[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysqlclient = "==1.3.12"
django-salmonella = "==1.1"
django-grappelli = "==2.10.1"
Django = "==1.11.6"

[dev-packages]

[requires]
python_version = "2.7"
